@model Assignment_8.Controllers.SalesReportDetails

<div>
    <h4>SalesReportDetails</h4>
    <hr />
    <table class="table-condensed">
        <tr>
            <td>
                <center><h1>@Html.DisplayFor(model => model.SalesReportName)</h1></center>
            </td>
        </tr>
        <tr>
            <td>
                <center><h1>Month: @Html.DisplayFor(model => model.Month)</h1></center>
                <center><h1>Revenue: @Html.DisplayFor(model => model.Total)</h1></center>
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.PercentageChange > 0)
                {
                    <center><h1 style="color:green">&#8593;@Html.DisplayFor(model => model.PercentageChange)</h1></center>
                }
                else
                {
                    <center><h1 style="color:red">&darr;@Html.DisplayFor(model => model.PercentageChange)</h1></center>
                }
        </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesReportId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary" })

    
</p>
