@model Assignment_8.Controllers.Product_vm

    <img src="~/Content/Image/@Html.DisplayFor(model => model.productImage)" style="height:300px;width:500px" />
<div class="row">
    <div class="col-lg-12">
        <h4>Product Description</h4>
        <hr />
        <div class="panel panel-default panel-body">
            @Html.Raw(Model.productDescription)
        </div>
        <h4>Product Details</h4>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.productName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productWidth)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.productHeight)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.productName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.productPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => model.quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.productWeight)
                </td>
                <td>
                    @Html.DisplayFor(model => model.productLength)
                </td>
                <td>
                    @Html.DisplayFor(model => model.productWidth)
                </td>
                <td>
                    @Html.DisplayFor(model => model.productHeight)
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
