@model Assignment_8.Controllers.Product_vm

<div>
    <h4>Product_vm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productImage)
        </dt>

        <dd>
            <img src="~/Content/Image/@Html.DisplayFor(model => model.productImage)" style="height:200px;width:200px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productLenght)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productLenght)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productBreath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productBreath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productHeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
