@model IEnumerable<Assignment_8.Controllers.Product_vm>

<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<br />
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary" })


<hr/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        @if(item.PromotionId != 1){
            <td>
                <strike>@Html.DisplayFor(modelItem => item.ProductPrice)</strike>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromoPrice)
            </td>
        } else{
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td></td>
        }
        <td>
            @if (item.Quantity < 9)
            {
                <p style="color:red">@Html.DisplayFor(modelItem => item.Quantity)</p>
            }
            else
            {
                <p style="color:green">@Html.DisplayFor(modelItem => item.Quantity)</p>
            }
        </td>
        <td>
            <img src="~/Content/Image/@Html.DisplayFor(modelItem => item.ProductImage)" style="height:100px;width:200px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "DetailsBackEnd", new { id = item.ProductId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-primary" })

        </td>
    </tr>
}

</table>
