@model IEnumerable<Assignment_8.Controllers.Product_vm>

<br />
    @Html.ActionLink("Create New", "Create")
<hr/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @if (item.quantity < 9)
            {
                <p style="color:red">@Html.DisplayFor(modelItem => item.quantity)</p>
            }
            else
            {
                <p style="color:green">@Html.DisplayFor(modelItem => item.quantity)</p>
            }
        </td>
        <td>
            <img src="~/Content/Image/@Html.DisplayFor(modelItem => item.productImage)" style="height:100px;width:200px" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
