@model Assignment_8.Controllers.PromotionDeleteForm

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PromotionDeleteForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PercentageOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>


    <h4>Products On @Html.DisplayFor(model => model.PromotionName)</h4>

    <table class="table">
        <tr>
            <th>
                @Html.Raw(ViewBag.ProductName)
            </th>

            <th>
                @Html.Raw(ViewBag.Discount)
            </th>
        </tr>

        @foreach (var item in Model.ProductsEnumerable)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PromoPrice)
                </td>
            </tr>
        }
    </table>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
