@model Assignment_8.Models.OrdersViewModel

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dd>
            @foreach (var item in Model.Products)
            {
                if (item.Checked)
                {

                    <div>Product Name : @item.Name</div>
                    <div>Product Description : @item.Desc</div>
                    <div>Product Price : @item.Price</div>
                    <div>Product Length : @item.Length</div>
                    <div>Product Height : @item.Height</div>
                    <div>Product Width : @item.Width</div>
                    <div>Product Weight : @item.Weight</div>
                    <div>Product Quantity : @item.Quantity</div>

                    <br />

                }
            }
        </dd>
        
      
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
